*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.Catagory{
    position: absolute;
    border: 0.5px solid rgba(0, 0, 0, 0.054) !important;
    border-radius: 5px;
    top: 50px;
    left: -20px;
    background-color: rgba(243, 238, 238, 0.036);
    padding-top: 10px;
    background-color: white;
    z-index: 1;
}
.Catagory p{
    color: rgba(0, 0, 0, 0.651);
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 75px;
    padding-bottom: 10px;
    font-size: 14px;
    margin: 0px;
    border-color: red;
}
nav{
    width: 100%;
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 999;
}
nav>div{
    width: 80% !important;
    margin: auto;
}
.Catagory p:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.051);
}
.Selection{
    cursor: pointer;
}
.Selection>span{
    cursor: pointer;
}
nav .searchContent{
    width: 600px;
}
nav .searchContent i{
    position: absolute;
    color: rgba(0, 0, 0, 0.478);
    font-size: 20px;
    top: 10px;
    left: 15px;
    cursor: pointer;
    z-index: 1000 !important;
}
nav .searchContent input{
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.103);
}
nav a{
    font-family: 'Calistoga', cursive;

}
nav .profileAndBasket i:first-of-type{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    cursor: pointer;
}
nav .profileAndBasket span{
    display: inline-block;
    background-color: red;
    color: white;
    padding: 2px 8px;

    border-radius: 50%;
    transform: translate(-20px,-20px);
}
#headling{
    position: relative;
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#headling .catagory .catagories{
    position: absolute;
    top: 60px;
    background-color: white;
    z-index: 999;
}
#headling .catagory .catagories ul{
    width: 300px;
    border: 0.3px solid rgba(0, 0, 0, 0.084);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
}
#headling .catagory .catagories ul li{
    list-style: none;
    position: relative;
    text-align: start;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#headling .catagory .catagories ul li:hover{
    background-color: rgba(255, 0, 0, 0.136);
}
#headling .catagory .catagories ul li:hover >div{
    display: block;
    background-color: white;
    z-index: 999;
}
#headling .catagory .catagories>ul>li:hover >a{
    color: red;
}
#headling .catagory .catagories>ul>li:hover >a>svg{
    fill: red;
}
#headling .catagory .catagories ul li i{
    right: 15px;
}
#headling .catagory .catagories ul li a{
    color: rgba(0, 0, 0, 0.617);
    text-decoration: none;
}
#headling .catagory .fashionCatagoryTable{
    position: absolute;
    left: 100%;
    top: -10px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .fashionCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 800px;
}
#headling .catagory .fashionCatagoryTable>div>div:first-child{
    width: 700px;
}
#headling .catagory .fashionCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .fashionCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .fashionCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .fashionCatagoryTable table th:hover{
    color: red;
}
#headling .catagory .electoronicCatagoryTable{
    position: absolute;
    left: 100%;
    top: -55px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .HomeGarden{
    top: -140px !important; 
}
#headling .catagory .electoronicCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 720px;
}
#headling .catagory .electoronicCatagoryTable>div>div:first-child{
    width: 700px;
}
#headling .catagory .electoronicCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .electoronicCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .electoronicCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .electoronicCatagoryTable table th:hover{
    color: red;
}

#headling .catagory .bikesCatagory{
    position: absolute;
    left: 100%;
    top: -100px;
    padding-left: 30px;
    display: none;
    
}
#headling .catagory .giftCatagory{
    top: -180px;
   
}
#headling .catagory .bikesCatagory ul{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 320px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#headling .catagory .bikesCatagory li{
    list-style: none;
    text-align: start;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}
#headling .catagory .bikesCatagory li i{
    position: absolute;
    right: 20px;
    margin-top: 5px;
}
#headling .catagory .bikesCatagory li:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.095);
}
#headling .catagory .bikesCatagory li:hover .manCatagoryTable{
    display: block;
}
#headling .catagory .bikesCatagory li:hover svg{
    fill: red;
}

#headling .catagory .bikesCatagory .manCatagoryTable{
    position: absolute;
    left: 95%;
    top: -10px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .bikesCatagory .manCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 500px;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:first-child{
    width: 450px;
    padding-left: 18px;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child{
   padding-left: 20px;
   display: flex;
   justify-content: space-between;
}#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child img{
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child h1{
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child p{
    color: rgba(0, 0, 0, 0.62);
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child a{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid red;
    cursor: pointer;
}
#headling .catagory .bikesCatagory .manCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .bikesCatagory .manCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .bikesCatagory .manCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .bikesCatagory .manCatagoryTable table th:hover{
    color: red;
}

#headling .catagory {
background-color: rgba(100, 148, 237, 0.117);
height: 45px;
text-align: center;
padding-top: 7px;
padding-left: 20px;
padding-right: 40px;
border-radius: 5px;
position: relative;
}
#headling .catagory span{
    margin-left: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.354);
}
#headling .naviqation>ul{
    display: flex;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li{
    margin-left: 25px;
    position: relative;
    height: 50px;
}
#headling .naviqation>ul>li>ul{
    display: none;
    padding-left: 0px;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li:hover >ul{
    display: block;
    position: absolute;
    border: 0.5px solid rgba(0, 0, 0, 0.053);
    border-radius: 10px;
    width: 250px;
    text-align: start;
    margin-top: 20px;
    padding-top: 10px;
    
}
#headling .naviqation>ul>li>ul>li{
    padding-left: 20px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
#headling .naviqation>ul>li>ul>li i{
    position: absolute;
    right: 20px;
}
#headling .naviqation>ul>li>ul>li>ul{
    display: none;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li>ul>li:hover >ul{
    display: block;
    position: absolute;
    left: 100%;
    top: -10%;
    border: 0.3px solid rgba(0, 0, 0, 0.039);
    border-radius: 10px;
    padding-left: 0px;
}
#headling .naviqation>ul>li>ul>li>ul>li{
    padding-left: 20px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}
#headling .naviqation>ul>li>ul>li>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.034);
}
#headling .naviqation>ul>li>ul>li>ul>li:hover a{
    color: red;
}
#headling .naviqation>ul>li>ul>li>a{
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.623);
}
#headling .naviqation>ul>li>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.066);
}
#headling .naviqation>ul>li>ul>li>a:hover{
    color: red;
}
#headling .naviqation>ul>li>a:hover{
    color: red;
}
#headling .naviqation li{
    list-style: none;
}
#headling .naviqation ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.665);
}

#stock{
    width: 100%;
    background-color: rgba(240, 240, 240, 0.585);
}
#stock>div>div>div>div{
    display: flex;
    justify-content: end;
}
#stock>div>div .item{
   width: 70%;
   display: flex;
   padding-top: 50px;
}
#stock>div>div:last-child >button >span{
    width: 15px;
    height: 15px;
    margin-bottom: 30px;
}
#stock>div>div .up{
    width: 65%;
}
#stock>div>div .down{
    width: 30%;
    margin-top: -50px;
}
#stock>div>div img{
    width: 250px;
    height: 350px;
}
#stock>div>div>div:first-child h1{
    font-weight: 800;
    font-size: 45px;
    width: 90%;
}
#stock>div>div>div:first-child p{
    color: rgba(0, 0, 0, 0.648);
    margin-top: 25px;
    margin-bottom:20px;
}
#stock>div>div>div:first-child a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background-color: rgba(255, 0, 0, 0.849);
    border-radius: 5px;
}
#FlashDeals{
    background-color: rgb(236,236,236);
}
#FlashDeals>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#FlashDeals>div:first-child h1{
    font-size: 28px;
}
#FlashDeals>div:first-child h1 i{
    margin-right: 10px;
}
#FlashDeals>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#FlashDeals>div:first-child p i{
    margin-left: 10px;
}
#FlashDeals>div:last-child {
    margin: 10px auto;
    width: 85%;
}

#FlashDeals>div:last-child .item{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 4%;
    margin-bottom: 30px;
}
#FlashDeals>div:last-child .item>div:first-child{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 15px;
    display: none;
}
#FlashDeals>div:last-child .item:hover >div:first-child{
    display: block;
}
#FlashDeals>div:last-child .item>div:first-child i{
    cursor: pointer;
}
#FlashDeals>div:last-child .item .percent{
    color: white;
    background-color: rgba(172, 15, 15, 0.769);
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
    margin-left: 10px;
}
#FlashDeals>div:last-child .item >img{
    width: 75%;
    height: 180px;
    transform: scale(1.3);
    margin: 0px auto;
    cursor: pointer;
}
#FlashDeals>div:last-child .item>h1{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
}
#FlashDeals>div:last-child .item>p{
    position: relative;
}
#FlashDeals>div:last-child .item>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#FlashDeals>div:last-child .item>p>span:last-of-type{
    position: absolute;
    right: 5%;
    top: -50px;
    text-align: center;
}
#FlashDeals>div:last-child .item>p>span:last-of-type >span{
    margin-top: 2px;
    display: block;
    margin-bottom: 2px;
}
#FlashDeals>div:last-child .item>p>span>i{
    border: 0.5px solid rgba(255, 0, 0, 0.375);
    color: red;
    padding: 5px;
    cursor: pointer;
    display: block;
}
#FlashDeals>div:last-child .item>p>span>i:hover{
    background-color: red;
    color: white;
}
#FlashDeals>div:last-child .owl-next span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.655);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}
#FlashDeals>div:last-child .owl-next span:hover{
    background-color: rgba(15, 38, 66);
}
#FlashDeals>div:last-child .owl-prev span:hover{
    background-color: rgba(15, 38, 66);
}

#FlashDeals>div:last-child .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 108%;
    margin: 0px auto;
    margin-left: -5%;
    top: 35%;
    cursor: pointer;
}
#FlashDeals>div:last-child .owl-next{
    display: inline-block;
}
#FlashDeals>div:last-child .owl-prev{
    display: inline-block;
}
#FlashDeals>div:last-child .owl-prev span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.649);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}



#TopCategories{
    background-color: rgb(236,236,236);
    margin-top: -10px;
    padding-top: 40px;
}
#TopCategories>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#TopCategories>div:first-child h1{
    font-size: 28px;
}
#TopCategories>div:first-child h1 i{
    margin-right: 10px;
}
#TopCategories>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#TopCategories>div:first-child p i{
    margin-left: 10px;
}
#TopCategories>div:last-child {
    margin: 10px auto;
    width: 85%;
}

#TopCategories>div:last-child .item{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    padding: 14px;
}
#TopCategories>div:last-child .item>div{
    position: absolute;
    width: 90%;
    left: 5%;
    top: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
#TopCategories>div:last-child .item>div>p:first-child{
    font-size: 11px;
    background-color: rgb(15,38,66);
    color: white;
    border-radius: 25px;
    padding: 2px 10px;
}
#TopCategories>div:last-child .item>div>p:last-child{
    font-size: 11px;
    background-color: rgba(128, 128, 128, 0.384);
    color: black;
    border-radius: 25px;
    padding: 2px 10px;
}

#TopCategories>div:last-child .item >img{
    width: 100%;
    height: 120px;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 10px;
}
#TopCategories>div:last-child .item>h1{
    height: 120px;
    width: 93%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    
}

#TopCategories>div:last-child .item>h1:hover{
    opacity: 1;
}
#TopCategories>div:last-child .owl-next span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.629);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}
#TopCategories>div:last-child .owl-next span:hover{
    background-color: rgba(15, 38, 66);
}

#TopCategories>div:last-child .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 110%;
    margin: 0px auto;
    margin-left: -6%;
    top: 30%;
    cursor: pointer;
    z-index: -999;
}
#TopCategories>div:last-child .owl-next{
    display: inline-block;
}
#TopCategories>div:last-child .owl-prev{
    display: inline-block;
}
#TopCategories>div:last-child .owl-prev span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.665);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}
#TopCategories>div:last-child .owl-prev span:hover{
    background-color: rgb(15,38,66);
}

#TopRating{
    display: flex;
    justify-content: center;
    background-color: rgb(236,236,236);
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 40px;
}
#TopRating .first{
    padding-left: 50px;
    width: 50%;
}
#TopRating .first>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-top: 30px;
    margin-bottom: 20px;
    margin-left: 8%;
}
#TopRating .first>div:first-child h1{
    font-size: 28px;
}
#TopRating .first>div:first-child h1 i{
    margin-right: 10px;
}
#TopRating .first>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#TopRating .first>div:first-child p i{
    margin-left: 10px;
}
#TopRating .first>div:last-child {
    margin-left: 8%;
    width: 95%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    border-radius: 10px;
}

#TopRating .first>div:last-child .item{
    background-color: white;
    border-radius: 8px;
    position: relative;
    text-align: center;
   cursor: pointer;
}

#TopRating .first>div:last-child .item >img{
    width: 85%;
    height: 120px;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 10px;
}
#TopRating .first>div:last-child .item>h1{
    height: 120px;
    width: 83%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    margin-left: 13px;
    
}

#TopRating .first>div:last-child .item>h1:hover{
    opacity: 1;
}
#TopRating .first>div:last-child .item>span{
    font-size: 11px;
}
#TopRating .first>div:last-child .item>p{
    margin-bottom: 0px;
}
#TopRating .first>div:last-child .item>.price{
    color: red;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

#TopRating>div:last-child{
    width: 50%;
}
#TopRating>div:last-child >div:first-child{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-top: 30px;
    margin-bottom: 20px;
    margin: 0px auto;
}
#TopRating>div:last-child >div:first-child h1{
    font-size: 28px;
}
#TopRating>div:last-child >div:first-child h1 i{
    margin-right: 10px;
}
#TopRating>div:last-child >div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#TopRating>div:last-child >div:first-child p i{
    margin-left: 10px;
}
#TopRating>div:last-child >div:last-child {
    margin: 18px auto;
    width: 85%;
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
}

#TopRating>div:last-child >div:last-child .item{
    background-color: white;
    border-radius: 8px;
    position: relative;
    width: 45%;
    padding-top: 15px;
    cursor: pointer;
   
}
#TopRating>div:last-child >div:last-child .item>p{
    margin-top: 15px;
}
#TopRating>div:last-child >div:last-child .item >img{
    width: 100%;
    height: 160px;
    margin: 0px auto;
    cursor: pointer;
    border-radius: 10px;
}

#newAriivals{
    background-color: rgb(236,236,236);
    padding-bottom: 20px;
}
#newAriivals>div:first-child >div{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#newAriivals>div:first-child >div h1{
    font-size: 28px;
    font-weight: 600;
}
#newAriivals>div:first-child >div h1 i{
    margin-right: 10px;
}
#newAriivals>div:first-child >div a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#newAriivals>div:first-child >div>p i{
    margin-left: 10px;
}
#newAriivals>div:last-child{
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: 10px auto;
    background-color: white;
    border-radius: 10px;
    justify-content: space-around;
}
#newAriivals>div:last-child >div{
    width: 15%;
    padding-left: 0.5%;
    position: relative;
}
#newAriivals>div:last-child >div>img{
    width: 98%;
    height: 65%;
    margin-top: 15px;
    cursor: pointer;
}
#newAriivals>div:last-child >div>p{
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}
#newAriivals>div:last-child >div>span{
    color: red;
    font-size: 13px;
    cursor: pointer;
}
#newAriivals>div:last-child >div>h1{
    height: 65%;
    width: 96%;
    position: absolute;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    z-index: 1;
    
}

#newAriivals>div:last-child >div>h1:hover{
    opacity: 1;
}

#BigDiscounts{
    background-color: rgb(236,236,236);
}
#BigDiscounts>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#BigDiscounts>div:first-child h1{
    font-size: 28px;
}
#BigDiscounts>div:first-child h1 i{
    margin-right: 10px;
}
#BigDiscounts>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#BigDiscounts>div:first-child p i{
    margin-left: 10px;
}
#BigDiscounts>div:last-child {
    margin: 0px auto;
    width: 85%;
}

#BigDiscounts>div:last-child .item{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 4%;
    margin-bottom: 30px;
    z-index: 999;
}


#BigDiscounts>div:last-child .item >img{
    width: 95%;
    height: 130px;
    margin: 0px auto;
    cursor: pointer;
}
#BigDiscounts>div:last-child .item>h2{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
}
#BigDiscounts>div:last-child .item>p{
    font-size: 14px;
    cursor: pointer;
}
#BigDiscounts>div:last-child .item>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}


#BigDiscounts>div:last-child .owl-next span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.655);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}
#BigDiscounts>div:last-child .owl-next span:hover{
    background-color: rgba(15, 38, 66);
}
#BigDiscounts>div:last-child .owl-prev span:hover{
    background-color: rgba(15, 38, 66);
    
}

#BigDiscounts>div:last-child .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    margin: 0px auto;
    top: 35%;
    cursor: pointer;
    z-index: -1;
}
#BigDiscounts>div:last-child .owl-next{
    display: inline-block;
    margin-right: -2.5%;
}
#BigDiscounts>div:last-child .owl-prev{
    display: inline-block;
    margin-left: -3.5%;
}
#BigDiscounts>div:last-child .owl-prev span{
    font-size: 30px;
    color: white;
    display: inline-block;
    background-color: rgba(15, 38, 66, 0.649);
    border-radius: 50%;
    padding: 2px 15px;
    cursor: pointer;
}
#BigDiscounts>div:last-child .item>h1{
    height: 59%;
    width: 88%;
    position: absolute;
    margin-top: 15px;
    margin-left: 1%;
    background-color: rgba(0, 0, 0, 0.28);
    cursor: pointer;
    border-radius: 10px;
    opacity: 0;
    z-index: 999;
    
}

#BigDiscounts>div:last-child .item>h1:hover{
    opacity: 1;
}
#Cars{
    background-color: rgb(236,236,236);
    display: flex;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 7%;
}
#Cars>div:first-child{
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 520px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#Cars>div:first-child >button{
    display: block;
    width: 90%;
    border: 0;
    margin: 10px auto;
    border-radius:7px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    background-color: rgba(128, 128, 128, 0.154);
}
#Cars>div:first-child >button:last-child{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}
#Cars>div:first-child >button>svg{
    margin-left: 20px;
    margin-right: 25px;
}
#Cars>div:first-child >button:hover{
    background-color: rgba(128, 128, 128, 0.358);
}
#Cars>div:last-child{
    width: 70%;
}
#Cars>div:last-child>div:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#Cars>div:last-child>div:first-child h1{
    font-size: 28px;
}
#Cars>div:last-child>div:first-child h1 i{
    margin-right: 10px;
}
#Cars>div:last-child>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#Cars>div:last-child>div:first-child p i{
    margin-left: 10px;
}
#Cars>div:last-child>div:last-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Cars>div:last-child>div:last-child >div{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 1%;
    margin-bottom: 30px;
    width: 30%;
}
#Cars>div:last-child>div:last-child >div:hover{
    -webkit-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
}
#Cars>div:last-child>div:last-child >div>div:first-child{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 15px;
    display: none;
}
#Cars>div:last-child>div:last-child >div:hover >div:first-child{
    display: block;
}
#Cars>div:last-child>div:last-child >div>div:first-child i{
    cursor: pointer;
}
#Cars>div:last-child>div:last-child >div .percent{
    color: white;
    background-color: rgba(172, 15, 15, 0.769);
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}
#Cars>div:last-child>div:last-child >div >img{
    width: 80%;
    height: 180px;
    transform: scale(1.2);
    margin-left: 12%;
    cursor: pointer;
}
#Cars>div:last-child>div:last-child >div>h1{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}
#Cars>div:last-child>div:last-child >div>p{
    position: relative;
    margin-top: 5px;
}
#Cars>div:last-child>div:last-child >div>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#Cars>div:last-child>div:last-child >div>p>span:last-of-type{
    position: absolute;
    right: 5%;
    top: -48px;
    text-align: center;
}
#Cars>div:last-child>div:last-child >div>p>span:last-of-type >span{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
#Cars>div:last-child>div:last-child >div>p>span:last-of-type >i{
    border: 0.5px solid rgba(255, 0, 0, 0.375);
    color: red;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#Cars>div:last-child>div:last-child >div>p>span>i:hover{
    background-color: red;
    color: white;
}



#Phones{
    background-color: rgb(236,236,236);
    display: flex;
    justify-content: space-around;
    padding-left: 6%;
    padding-right: 7%;
    padding-top: 50px;
}
#Phones>div:first-child{
    background-color: white;
    border-radius: 10px;
    width: 25%;
    height: 560px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#Phones>div:first-child >button{
    display: block;
    width: 90%;
    border: 0;
    margin: 10px auto;
    border-radius:7px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    background-color: rgba(128, 128, 128, 0.154);
}
#Phones>div:first-child >div{
    display: none;
}
#Phones>div:first-child >h1{
    font-size: 20px;
    padding-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
}
#Phones>div:first-child >h1>span{
    cursor: pointer;
}
#Phones>div:first-child >h1>span:last-child{
    color: rgba(128, 128, 128, 0.361);
}
#Phones>div:first-child >h1>.mid{
    display: inline-block;
    width: 2px;
    height: 18px;
    background-color: rgba(128, 128, 128, 0.361);
    margin: 0px 20px;
}
#Phones>div:first-child >div>button{
    display: block;
    width: 90%;
    border: 0;
    margin: 10px auto;
    border-radius:7px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: start;
    background-color: rgba(128, 128, 128, 0.154);
}
#Phones>div:first-child >div>button:last-child{
    text-align: center;
    margin-top: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
}
#Phones>div:first-child >div>button>svg{
    margin-left: 20px;
    margin-right: 25px;
}
#Phones>div:first-child >button:last-child{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}
#Phones>div:first-child >button>svg{
    margin-left: 20px;
    margin-right: 25px;
}
#Phones>div:first-child button:hover{
    background-color: rgba(128, 128, 128, 0.358);
}
#Phones>div:last-child{
    width: 70%;
}
#Phones>div:last-child>div:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#Phones>div:last-child>div:first-child h1{
    font-size: 28px;
}
#Phones>div:last-child>div:first-child h1 i{
    margin-right: 10px;
}
#Phones>div:last-child>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#Phones>div:last-child>div:first-child p i{
    margin-left: 10px;
}
#Phones>div:last-child>div:last-child {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Phones>div:last-child>div:last-child >div{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 1%;
    margin-bottom: 30px;
    width: 30%;
}
#Phones>div:last-child>div:last-child >div:hover{
    -webkit-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
}
#Phones>div:last-child>div:last-child >div>div:first-child{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 15px;
    display: none;
}
#Phones>div:last-child>div:last-child >div:hover >div:first-child{
    display: block;
}
#Phones>div:last-child>div:last-child >div>div:first-child i{
    cursor: pointer;
}
#Phones>div:last-child>div:last-child >div .percent{
    color: white;
    background-color: rgba(172, 15, 15, 0.769);
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}
#Phones>div:last-child>div:last-child >div >img{
    width: 80%;
    height: 180px;
    transform: scale(1.2);
    margin-left: 12%;
    cursor: pointer;
}
#Phones>div:last-child>div:last-child >div>h1{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}
#Phones>div:last-child>div:last-child >div>p{
    position: relative;
    margin-top: 5px;
}
#Phones>div:last-child>div:last-child >div>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#Phones>div:last-child>div:last-child >div>p>span:last-of-type{
    position: absolute;
    right: 5%;
    top: -48px;
    text-align: center;
}
#Phones>div:last-child>div:last-child >div>p>span:last-of-type >span{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
}
#Phones>div:last-child>div:last-child >div>p>span:last-of-type >i{
    border: 0.5px solid rgba(255, 0, 0, 0.375);
    color: red;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#Phones>div:last-child>div:last-child >div>p>span>i:hover{
    background-color: red;
    color: white;
}

#img{
    background-color: rgb(236,236,236);
    display: flex;
    justify-content: space-around;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 40px;
    padding-bottom: 40px;
}
#img>div:first-child{
    width: 35%;
    height: 400px;
    margin-bottom: 30px;
}
#img>div:last-child{
    width: 60%;
    height: 400px;
}
#img>div>img{
    cursor: pointer;
    width: 100%;
    height: 100%;
}
#Categories{
    background-color: rgb(236,236,236);
}
#Categories>div:first-child{
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: 0px auto;
    padding-top: 30px;
    margin-bottom: 20px;
}
#Categories>div:first-child h1{
    font-size: 28px;
}
#Categories>div:first-child h1 i{
    margin-right: 10px;
}
#Categories>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#Categories>div:first-child p i{
    margin-left: 10px;
}
#Categories>div:last-child{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 0px auto;
}
#Categories>div:last-child >div{
    display: flex;
    width: 15%;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 20px;
    padding: 10px 1%;
}
#Categories>div:last-child >div:hover{
    -webkit-box-shadow: 0px 0px 38px -1px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 38px -1px rgba(128,128,128,1);
    box-shadow: 0px 0px 38px -1px rgba(128,128,128,1);
}

#Categories>div:last-child >div>img{
    width: 50px;
    height: 50px;
}
#Categories>div:last-child >div>span{
    height: 50%;
    margin-top: 7%;
    margin-left: 2%;
}

#More{
    background-color: rgb(236,236,236);
   
    padding-top: 50px;
}

#More>div{
    width: 85%;
    margin: 0px auto;
}
#More>div>div:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#More>div>div:first-child h1{
    font-size: 28px;
}
#More>div>div:first-child h1 i{
    margin-right: 10px;
}
#More>div>div:first-child a {
    color: gray;
    cursor: pointer;
    text-decoration: none;
}
#More>div>div:first-child p i{
    margin-left: 10px;
}
#More>div>div:last-child {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#More>div>div:last-child >div{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 1%;
    margin-bottom: 30px;
    width: 23%;
}
#More>div>div:last-child >div:hover{
    -webkit-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
}
#More>div>div:last-child >div>div:first-child{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 15px;
    display: none;
}
#More>div>div:last-child >div:hover >div:first-child{
    display: block;
}
#More>div>div:last-child >div>div:first-child i{
    cursor: pointer;
}
#More>div>div:last-child >div .percent{
    color: white;
    background-color: rgba(172, 15, 15, 0.769);
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}
#More>div>div:last-child >div >img{
    width: 80%;
    height: 180px;
    transform: scale(1.2);
    margin-left: 12%;
    cursor: pointer;
}
#More>div>div:last-child >div>h1{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}
#More>div>div:last-child >div>p{
    position: relative;
    margin-top: 5px;
}
#More>div>div:last-child >div>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#More>div>div:last-child >div>p>span:last-of-type{
    position: absolute;
    right: 5%;
    top: -48px;
    text-align: center;
}
#More>div>div:last-child >div>p>span:last-of-type >span{
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}
#More>div>div:last-child >div>p>span:last-of-type >i{
    border: 0.5px solid rgba(255, 0, 0, 0.375);
    color: red;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#More>div>div:last-child >div>p>span>i:hover{
    background-color: red;
    color: white;
}
#Info{
    background-color: rgb(236,236,236);
    padding-top: 50px;
    padding-bottom: 30px;
}
#Info>div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 85%;
    margin: 10px auto;
    margin-bottom: 50px;
}
#Info>div>div{
    width: 23%;
    background-color: white;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    margin-bottom: 30px;
}
#Info>div>div>svg{
    background-color: rgba(128, 128, 128, 0.143);
    padding: 15px;
    border-radius: 50%;
}
#Info>div>div>p{
    margin-top: 20px;
    font-weight: bold;
}
#signIn{
    background-color:rgba(128, 128, 128, 0.869);
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    display: none;
}
#signIn>div{
    width: 550px;
    margin: 70px auto;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
}
#signIn>div>h1{
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
#signIn>div>p{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2.25rem;
    color: rgb(43, 52, 69);
    text-align: center;
}
#signIn>div>form{
    margin-top: 20px;
}
#signIn>div>form label{
    width: 80%;
    display: block;
    margin: 6px auto;
    font-size: 0.975rem;
    cursor: default;
    color: rgb(43, 52, 69);
}
#signIn>div>form input{
    width: 80%;
    padding: 8px 12px;
    height: 40px;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    outline: none;
    display: block;
    margin: 10px auto;
    margin-bottom: 5px;
}
#signIn>div>form input:focus{
    border-color: rgb(233, 69, 96);
}
#signIn>div>form>div{
    position: relative;
}
#signIn>div>form .wrong{
    width: 80%;
    margin: 0px auto;
    color: rgb(233, 69, 96);
    margin-top: 0.25rem;
    font-size: 14px;
    display: none;
}
#signIn>div>form>div>i{
    position: absolute;
    right: 12%;
    top: 44px;
    display: block;
}
#signIn>div>form>div>.unvisible{
    display: none;
}
#signIn>div>form>button{
    width: 80%;
    display: block;
    margin: 15px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
#signIn>div>form>button>i{
    margin-right: 10px;
    background-color: white;
    color: rgb(59, 89, 152);
    padding: 3px 6px;
    border-radius: 50%;
}
#signIn>div>form>button:first-of-type{
    background-color: rgb(233, 69, 96);
}
#signIn>div>form>button:nth-of-type(2){
    background-color: rgb(59, 89, 152);
}
#signIn>div>form>button:nth-of-type(3){
    background-color: rgb(66, 133, 244);
}
#signIn>div>form>span:last-of-type{
    display: flex;
    width: 40%;
    margin: 15px auto;
    border: 0;
    color: rgba(43, 52, 69, 0.389);
}
#signIn>div>form>span>hr{
    width: 43%;
    height: 2px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    margin-top:8px;
    border-color: rgba(43, 52, 69, 0.178);
}
#signIn>div>form>p{
    font-size: 17px;
    color: rgb(125, 135, 156);
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
#signIn>div>form>p>a{
    color: rgb(43, 52, 69);
    margin-left: 5px;
}
#signIn>div>form>p:last-child{
    height: 60px;
    background-color:rgba(128, 128, 128, 0.037);
    width: 100%;
    padding-top: 20px;
}
footer{
    background-color: rgba(15, 38, 77, 0.961);
    margin-bottom: 0px;
}
footer>div{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;

}
footer>div>div{
    width: 18%;

}
footer>div>div:first-child{
    width: 35%;
}

footer>div>div:first-child h3{
    cursor: pointer;
}
footer>div>div span{
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.542);
    margin-top: 10px;
    display: block;
}
footer>div>div span:hover{
    color: white;
}
footer>div>div img{
    cursor: pointer;
    margin-right: 20px;
}
footer>div>div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.542);
    display: inline-block;
    
}
footer>div>div a>i{
    padding: 10px;
    background-color:  rgb(15, 38, 77);
    border-radius: 50%;
    color: white;
}
footer>div>div p{
    color: rgba(255, 255, 255, 0.542);
    width: 100%;
}
footer>div>div h3{
    color: white;
    margin-bottom: 20px;
}

@media screen and (min-width:850px) and (max-width:1150px) {
    #headling{
        width: 95%;
    }
    #headling>div:last-child ul li,span{
        font-size: 14px;
    }
    nav>div{
        width: 100% !important;
    }
    #Cars{
        padding-left: 1%;
        padding-right: 1%;
    }

    #Cars>div:last-child>div:last-child >div{
        width: 45%;
    }

    #Phones{
        padding-left: 1%;
        padding-right: 1%;
    }

    #Phones>div:last-child>div:last-child >div{
        width: 45%;
    }
    #img{
        padding-left: 0px;
        padding-right: 0px;
    }
    #Categories>div:first-child{
        width: 92%;
    }
    #Categories>div:last-child{
        width: 92%;
    }
    #Categories>div:last-child >div{
        width: 22%;
    }
    #More>div{
        width: 92%;
    }
    #More>div>div:last-child >div{
        width: 31%;
    }
    #Info>div{
        width: 92%;
    }
    #Info>div>div{
        width: 31%;
    }
    
    
    
    
}
@media screen and (min-width:560px) and (max-width:850px) {
    footer>div>div{
        width: 40%;
        margin-bottom: 40px;
    
    }
    footer>div>div:first-child{
        width: 50%;
    }
    #headling{
        display: none;
    }
    nav>div{
        width: 100% !important;
    }
    nav>div>div:first-child{
        display: none;
    }
    nav>div>div:last-child{
        display: none;
    }
    nav>div>.searchContent{
        width: 85%;
        margin: 0px auto;
        
    }
    nav>div>.searchContent input{
        margin: 0px auto;
        width: 100% !important;
    }
    
    nav>div>.searchContent .Selection{
        display: none;
    }
    #stock>div>div .item{
        width: 100%;
        padding-left: 5%;
    }
    #stock>div>div img{
        width: 60%;
        height: 75%;
    }
    #stock>div>div>div:first-child h1{
        font-size: 35px;
        width: 80%;
    }
    #stock>div>div>div:first-child p{
        color: rgba(0, 0, 0, 0.648);
        margin-top: 20px;
        margin-bottom:17px;
        
    }
    #stock>div>div>div:first-child a{
        padding: 8px 16px;
    }
    #FlashDeals>div:last-child {
        width: 92%;
    }
    #TopCategories>div:last-child {
        width: 92%;
    }
    #TopRating{
        display: block;
    }
    #TopRating .first{
        padding-left: 15px;
        width: 90%;
    }
    #TopRating>div:last-child{
        padding-left: 15px;
        width: 100%;
    }
    #newAriivals>div:last-child{
        width: 95%;
    }
    #newAriivals>div:last-child >div{
        width: 31%;
    }
    #BigDiscounts>div:last-child .owl-nav{
        z-index: 1;
    }
    #TopCategories>div:last-child .owl-nav{
        z-index: 1;
    }
    #BigDiscounts>div:last-child{
        width: 95%;
    }
    #Cars{
        padding-left: 1%;
        padding-right: 1%;
    }
    #Cars>div:first-child{
        display: none;
    }
    #Cars>div:last-child{
        width: 98%;
    }
    #Cars>div:last-child>div:last-child >div{
        width: 45%;
    }

    #Phones{
        padding-left: 1%;
        padding-right: 1%;
    }
    #Phones>div:first-child{
        display: none;
    }
    #Phones>div:last-child{
        width: 98%;
    }
    #Phones>div:last-child>div:last-child >div{
        width: 45%;
    }
    #img{
        display: block;
        padding-left: 4%;
        padding-right: 4%;
    }
    #img>div:first-child{
        width: 92%;
        height: 300px;
    }
    #img>div:last-child{
        width: 92%;
    }
    #Categories>div:first-child{
        width: 95%;
    }
    #Categories>div:last-child{
        width: 95%;
    }
    #Categories>div:last-child >div{
        width: 31%;
    }
    #More>div{
        width: 95%;
    }
    #More>div>div:last-child >div{
        width: 45%;
    }
    #Info>div{
        width: 95%;
    }
    #Info>div>div{
        width: 45%;
    }
    
}
@media screen and (max-width:560px)  {
    footer>div>div{
        width: 80%;
        margin-bottom: 40px;
    
    }
    footer>div>div:first-child{
        width: 90%;
    }
     #headling{
        display: none;
    }
    nav>div{
        width: 100% !important;
    }
    nav>div>div:first-child{
        display: none;
    }
    nav>div>div:last-child{
        display: none;
    }
    nav>div>.searchContent .Selection{
        display: none;
    }
    nav>div>.searchContent input{
        margin: 0px auto;
        width: 100% !important;
    }
    #stock>div>div .item{
        width: 100%;
        padding-left: 5%;
   
    }
    #stock>div>div img{
        width: 75%;
        height: 85%;
    }
    #stock>div>div>div:first-child h1{
        font-size: 20px;
        width: 80%;
    }
    #stock>div>div>div:first-child p{
        color: rgba(0, 0, 0, 0.648);
        margin-top: 18px;
        margin-bottom:14px;
        font-size: 11px;
        
    }
    #FlashDeals>div:last-child {
        width: 97%;
    }
    #TopCategories>div:last-child {
        width: 97%;
    }
    #TopRating{
        display: block;
    }
    #TopRating .first{
        padding-left: 15px;
        width: 90%;
    }
    #TopRating>div:last-child{
        padding-left: 8%;
        width: 90%;
    }
    

    #TopRating>div:last-child >div:first-child{
        width: 95%;
    }

    #TopRating>div:last-child >div:last-child {
        width: 95%;
        display: block;
        
    }
    #TopRating>div:last-child >div:last-child .item{
        width: 94%;
        margin-left: 3%;
        padding-bottom: 10px;
       
    }
    #TopRating .first>div:last-child .item>h1{
        margin-left: 8%;
    }
    #newAriivals>div:last-child{
        width: 99%;
    }
    #newAriivals>div:last-child >div{
        width: 47%;
    }
    #BigDiscounts>div:last-child .owl-nav{
        z-index: 1;
    }
    #TopCategories>div:last-child .owl-nav{
        z-index: 1;
    }
    #BigDiscounts>div:last-child{
        width: 99%;
    }
    #Cars{
        padding-left: 1%;
        padding-right: 1%;
    }
    #Cars>div:first-child{
        display: none;
    }
    #Cars>div:last-child{
        width: 98%;
    }
    #Cars>div:last-child>div:last-child >div{
        width: 85%;
        margin: 10px auto;
    }

    #Phones{
        padding-left: 1%;
        padding-right: 1%;
    }
    #Phones>div:first-child{
        display: none;
    }
    #Phones>div:last-child{
        width: 98%;
    }
    #Phones>div:last-child>div:last-child >div{
        width: 85%;
        margin: 10px auto;
    }
    #img{
        display: block;
        padding-left: 1%;
        padding-right: 1%;
    }
    #img>div:first-child{
        width: 98%;
        height: 200px;
    }
    #img>div:last-child{
        width: 98%;
        height: 300px;
    }
    #Categories>div:first-child{
        width: 98%;
    }
    #Categories>div:last-child{
        width: 98%;
    }
    #Categories>div:last-child >div{
        width: 47%;
    }
    #More>div{
        width: 98%;
    }
    #More>div>div:last-child >div{
        width: 95%;
        margin: 20px auto;
    }
    #Info>div{
        width: 98%;
    }
    #Info>div>div{
        width: 90%;
        margin: 20px auto;
    }
}