*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.Catagory{
    position: absolute;
    border: 0.5px solid rgba(0, 0, 0, 0.054) !important;
    border-radius: 5px;
    top: 50px;
    left: -20px;
    background-color: rgba(243, 238, 238, 0.036);
    padding-top: 10px;
    background-color: white;
    z-index: 1;
}
.Catagory p{
    color: rgba(0, 0, 0, 0.651);
    cursor: pointer;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 75px;
    padding-bottom: 10px;
    font-size: 14px;
    margin: 0px;
    border-color: red;
}
nav{
    width: 100%;
    position: sticky !important;
    top: 0;
    background-color: white;
    z-index: 999;
}
nav>div{
    width: 80% !important;
    margin: auto;
}
.Catagory p:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.051);
}
.Selection{
    cursor: pointer;
}
.Selection>span{
    cursor: pointer;
}
nav .searchContent{
    width: 600px;
}
nav .searchContent i{
    position: absolute;
    color: rgba(0, 0, 0, 0.478);
    font-size: 20px;
    top: 10px;
    left: 15px;
    cursor: pointer;
    z-index: 1000 !important;
}
nav .searchContent input{
    outline: none !important;
    border: 1px solid rgba(0, 0, 0, 0.103);
}
nav a{
    font-family: 'Calistoga', cursive;

}
nav .profileAndBasket i{
    cursor: pointer;
}
nav .profileAndBasket i:first-of-type{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    cursor: pointer;
}
nav .profileAndBasket span{
    display: inline-block;
    background-color: red;
    color: white;
    padding: 2px 8px;

    border-radius: 50%;
    transform: translate(-20px,-20px);
}
#headling{
    position: relative;
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}
#headling .catagory .catagories{
    position: absolute;
    top: 60px;
    background-color: white;
    z-index: 999;
}
#headling .catagory .catagories ul{
    width: 300px;
    border: 0.3px solid rgba(0, 0, 0, 0.084);
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 0px;
    padding-bottom: 10px;
}
#headling .catagory .catagories ul li{
    list-style: none;
    position: relative;
    text-align: start;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}
#headling .catagory .catagories ul li:hover{
    background-color: rgba(255, 0, 0, 0.136);
}
#headling .catagory .catagories ul li:hover >div{
    display: block;
    background-color: white;
    z-index: 999;
}
#headling .catagory .catagories>ul>li:hover >a{
    color: red;
}
#headling .catagory .catagories>ul>li:hover >a>svg{
    fill: red;
}
#headling .catagory .catagories ul li i{
    right: 15px;
}
#headling .catagory .catagories ul li a{
    color: rgba(0, 0, 0, 0.617);
    text-decoration: none;
}
#headling .catagory .fashionCatagoryTable{
    position: absolute;
    left: 100%;
    top: -10px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .fashionCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 800px;
}
#headling .catagory .fashionCatagoryTable>div>div:first-child{
    width: 700px;
}
#headling .catagory .fashionCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .fashionCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .fashionCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .fashionCatagoryTable table th:hover{
    color: red;
}
#headling .catagory .electoronicCatagoryTable{
    position: absolute;
    left: 100%;
    top: -55px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .HomeGarden{
    top: -140px !important; 
}
#headling .catagory .electoronicCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 720px;
}
#headling .catagory .electoronicCatagoryTable>div>div:first-child{
    width: 700px;
}
#headling .catagory .electoronicCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .electoronicCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .electoronicCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .electoronicCatagoryTable table th:hover{
    color: red;
}

#headling .catagory .bikesCatagory{
    position: absolute;
    left: 100%;
    top: -100px;
    padding-left: 30px;
    display: none;
    
}
#headling .catagory .giftCatagory{
    top: -180px;
   
}
#headling .catagory .bikesCatagory ul{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 320px;
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#headling .catagory .bikesCatagory li{
    list-style: none;
    text-align: start;
    padding-left: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
    cursor: pointer;
}
#headling .catagory .bikesCatagory li i{
    position: absolute;
    right: 20px;
    margin-top: 5px;
}
#headling .catagory .bikesCatagory li:hover{
    color: red;
    background-color: rgba(0, 0, 0, 0.095);
}
#headling .catagory .bikesCatagory li:hover .manCatagoryTable{
    display: block;
}
#headling .catagory .bikesCatagory li:hover svg{
    fill: red;
}

#headling .catagory .bikesCatagory .manCatagoryTable{
    position: absolute;
    left: 95%;
    top: -10px;
    padding-left: 30px;
    display: none;
}
#headling .catagory .bikesCatagory .manCatagoryTable>div{
    border: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 10px;
    width: 500px;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:first-child{
    width: 450px;
    padding-left: 18px;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child{
   padding-left: 20px;
   display: flex;
   justify-content: space-between;
}#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child img{
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child h1{
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child p{
    color: rgba(0, 0, 0, 0.62);
    cursor: pointer;
}
#headling .catagory .bikesCatagory  .manCatagoryTable>div>div:last-child a{
    color: black;
    text-decoration: none;
    border-bottom: 2px solid red;
    cursor: pointer;
}
#headling .catagory .bikesCatagory .manCatagoryTable table td{
    border: 0;
    cursor: pointer;
    
}
#headling .catagory .bikesCatagory .manCatagoryTable table th{
    border: 0;
    cursor: pointer;
}
#headling .catagory .bikesCatagory .manCatagoryTable table td:hover{
    color: red;
}
#headling .catagory .bikesCatagory .manCatagoryTable table th:hover{
    color: red;
}

#headling .catagory {
background-color: rgba(100, 148, 237, 0.117);
height: 45px;
text-align: center;
padding-top: 7px;
padding-left: 20px;
padding-right: 40px;
border-radius: 5px;
position: relative;
}
#headling .catagory span{
    margin-left: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, 0.354);
}
#headling .naviqation>ul{
    display: flex;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li{
    margin-left: 25px;
    position: relative;
    height: 50px;
}
#headling .naviqation>ul>li>ul{
    display: none;
    padding-left: 0px;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li:hover >ul{
    display: block;
    position: absolute;
    border: 0.5px solid rgba(0, 0, 0, 0.053);
    border-radius: 10px;
    width: 250px;
    text-align: start;
    margin-top: 20px;
    padding-top: 10px;
    
}
#headling .naviqation>ul>li>ul>li{
    padding-left: 20px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}
#headling .naviqation>ul>li>ul>li i{
    position: absolute;
    right: 20px;
}
#headling .naviqation>ul>li>ul>li>ul{
    display: none;
    background-color: white;
    z-index: 999;
}
#headling .naviqation>ul>li>ul>li:hover >ul{
    display: block;
    position: absolute;
    left: 100%;
    top: -10%;
    border: 0.3px solid rgba(0, 0, 0, 0.039);
    border-radius: 10px;
    padding-left: 0px;
}
#headling .naviqation>ul>li>ul>li>ul>li{
    padding-left: 20px;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 200px;
}
#headling .naviqation>ul>li>ul>li>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.034);
}
#headling .naviqation>ul>li>ul>li>ul>li:hover a{
    color: red;
}
#headling .naviqation>ul>li>ul>li>a{
    width: 100%;
    display: block;
    color: rgba(0, 0, 0, 0.623);
}
#headling .naviqation>ul>li>ul>li:hover{
    background-color: rgba(0, 0, 0, 0.066);
}
#headling .naviqation>ul>li>ul>li>a:hover{
    color: red;
}
#headling .naviqation>ul>li>a:hover{
    color: red;
}
#headling .naviqation li{
    list-style: none;
}

#headling .naviqation ul li a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.665);
}

#main{
    background: rgb(246, 249, 252);
    padding-bottom: 30px;
}
#main>div:first-of-type{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
#main>div:first-of-type>div:first-of-type{
    width: 50%;
    text-align: center;
}

#main>div:first-of-type>div:first-of-type>.head>img{
    width: 300px;
    height: 300px;
}
#main>div:first-of-type>div:first-of-type>.head>img:last-of-type{
    display: none;
}
#main>div:first-of-type>div:first-of-type>.changeImg{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0px auto;
    margin-top: 30px;
}
#main>div:first-of-type>div:first-of-type>.changeImg>div{
    padding: 10px;
    background-color: white;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.236);
}
#main>div:first-of-type>div:first-of-type>.changeImg>div:first-of-type{
    border: 1px solid rgba(173, 1, 1, 0.631);
}
#main>div:first-of-type>div:first-of-type>.changeImg>div>img{
    width: 80px;
    height: 80px;
}
#main>div:first-of-type>div:last-of-type h1{
    font-size: 30px;
    margin-bottom: 1rem;
    color: rgb(43, 52, 69);
    line-height: 1.5;
    font-weight: bold;
}
#main>div:first-of-type>div:last-of-type>p{
    font-size: 14px;
    color: rgb(125, 135, 156);
}
#main>div:first-of-type>div:last-of-type>p>span{
    font-weight: 600;
    font-size: 14px;
    margin-left: 8px;
    color: rgb(43, 52, 69);
}
#main>div:first-of-type>div:last-of-type>h2{
    font-size: 25px;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: bold;
    color: rgb(233, 69, 96);
}
#main>div:first-of-type>div:last-of-type>span:first-of-type{
    font-size: 14px;
    color: rgb(43, 52, 69);
    line-height: 1.5;
    display: block;
    margin-bottom: 15px;
}
#main>div:first-of-type>div:last-of-type>button{
    text-align: center;
    border: 0;
    color: white;
    padding: 11px 1.5rem;
    background: rgb(233, 69, 96);
    font-size: 14px;
    margin-bottom: 36px;
    display: block;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 25px;
}
#main>div:first-of-type>div:last-of-type>span:last-of-type{
    font-size: 20px;
    margin-bottom: 25px;
    display: none;
}
#main>div:first-of-type>div:last-of-type>span:last-of-type>i{
    padding: 10px;
    border: 1px solid rgba(183, 2, 2, 0.776);
    color: rgba(179, 1, 1, 0.828);
    border-radius: 5px;
    cursor: pointer;
}
#main>div:first-of-type>div:last-of-type>span:last-of-type>i:first-of-type{
    margin-right: 10px;
}
#main>div:first-of-type>div:last-of-type>span:last-of-type>i:last-of-type{
    margin-left: 10px;
}
#main>div:first-of-type>div:last-of-type>span:last-of-type>i:hover{
    background-color:rgba(183, 2, 2, 0.776) ;
    color: white;
}
#main>div:nth-of-type(2){
    width: 80%;
    margin: 0px auto;
}
#main>div:nth-of-type(2)>.head{
    display: flex;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
}
#main>div:nth-of-type(2)>.head>span{
    font-weight: 600;
    font-size: 16px;
    padding: 4px 10px;
    color: rgb(125, 135, 156);
    cursor: pointer;
    display: block;
}
#main>div:nth-of-type(2)>.head>span:first-of-type{
    border-bottom: 2px solid rgb(233, 69, 96);
    color:rgb(233, 69, 96) ;
    margin-right: 25px;
}
#main>div:nth-of-type(2)>div:nth-of-type(2)>h1{
    font-size: 20px;
    margin-bottom: 1rem;
    font-weight: bold;
    color: rgb(43, 52, 69);
    margin-top: 25px;
}
#main>div:nth-of-type(2)>div:nth-of-type(2)>p{
    font-size: 14px;
    color: rgb(43, 52, 69);
    line-height: 1.5;
    margin-bottom: 5px;
}
#main>div:nth-of-type(2)>div:nth-of-type(3){
    display: none;

}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div{
    margin-top: 40px;
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div{
    display: flex;
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div>img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div>h1{
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    color: rgb(43, 52, 69);
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div>h1>span:first-of-type{
    font-weight: 600;
    font-size: 14px;
    margin-right: 10px;
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div>h1>span:first-of-type>span{
    margin-left: 10px;
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>div>h1>span:last-of-type{
    font-size: 14px;
    color: rgb(125, 135, 156);
}
#main>div:nth-of-type(2)>div:nth-of-type(3)>div>p{
    width: 50%;
    color: rgb(75, 86, 107);
    font-size: 14px;
    line-height: 1.5;
}
#main>div:nth-of-type(2)>div:nth-of-type(4){
    display: none;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>h1{
    font-size: 25px;
    font-weight: 600;
    margin-top: 55px;
    color: rgb(43, 52, 69);
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>span:first-of-type>i{
    cursor: pointer;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>p{
    font-weight: 600;
    font-size: 16px;
    color: rgb(75, 86, 107);
    margin-bottom: 8px;
    margin-top: 8px;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>p>span{
    font-weight: 600;
    font-size: 20px;
    color: rgb(233, 69, 96);
    margin-left: 6px;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>textarea{
    outline: none;
    width: 100%;
    height: 180px;
    border: 1px solid rgba(128, 128, 128, 0.329);
    border-radius: 5px;
    padding: 10px;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>textarea:focus{
    border-color: rgb(233, 69, 96);
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>span:last-of-type{
    display: none;
    color: rgb(233, 69, 96);
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    font-size: smaller;
}
#main>div:nth-of-type(2)>div:nth-of-type(4)>button{
    display: block;
    background-color: rgb(218, 225, 231);
    color: rgb(125, 135, 156);
    padding: 11px 1.5rem;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    cursor: pointer;
    
}
#products{
    background: rgb(246, 249, 252);
    margin-top: -5px;
}
#products>div:first-of-type{
    width: 80%;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
#products>div:first-of-type>h1{
    font-size: 20px;
    margin-bottom: 24px;
    color: rgb(43, 52, 69);
    font-weight: bold;
}
#products>div:first-of-type>div{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
#products>div:first-of-type>div>div{
    width: 16%;
    background-color: white;
    border-radius: 8px;
    padding-bottom: 15px;
    
}
#products>div:first-of-type>div>div>div{
    position: relative;
    width: 90%;
    height: 160px;
    margin: 10px auto;
    cursor: pointer;
}
#products>div:first-of-type>div>div>div>div{
    background-color: rgba(128, 128, 128, 0.548);
    position: absolute;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    display: none;
}
#products>div:first-of-type>div>div>div>img{
    width: 100%;
    height: 160px;
}
#products>div:first-of-type>div>div>div:hover >div{
    display: block;
}
#products>div:first-of-type>div>div>p{
    font-size: 14px;
    margin-bottom: 0.25rem;
    color: rgb(43, 52, 69);
    cursor: pointer;
    margin-left: 15px;
}
#products>div:first-of-type>div>div>span{
    font-weight: 600;
    font-size: 14px;
    margin-right: 0.25rem;
    color: rgb(233, 69, 96);
    cursor: pointer;
    margin-left: 15px;
}
#products>div:first-of-type>div>div>span>del{
    text-decoration:line-through;
    font-size: 14px;
    color: rgb(125, 135, 156);
}
#products>div:first-of-type>div>span{
    font-size: 25px;
    margin: 0px 0.5rem;
    color: rgb(125, 135, 156);
    display: block;
}
#products>div:first-of-type>div>div:last-of-type{
    width: 24%;
    text-align: center;
    height: 250px;
    padding-top: 80px;
}
#products>div:first-of-type>div>div:last-of-type>p:first-of-type{
    font-size: 20px;
    color: rgb(233, 69, 96);
    font-weight: bold;
}
#products>div:first-of-type>div>div:last-of-type>p:last-of-type{
    font-size: 14px;
    margin-bottom: 1rem;
    color: rgb(125, 135, 156);
}
#products>div:first-of-type>div>div:last-of-type>button{
    padding: 11px 1.2rem;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
#products>div:first-of-type>div>div:last-of-type>button:first-of-type{
    background: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
}
#products>div:first-of-type>div>div:last-of-type>button:last-of-type{
    background-color: white;
    color:rgb(233, 69, 96) ;
    border: 1px solid rgb(233, 69, 96);
}
#products>div:first-of-type>div>div:last-of-type>button:last-of-type:hover{
    background: rgb(233, 69, 96);
    color: rgb(255, 255, 255);
}
#products>div:nth-of-type(2){
    width: 80%;
    margin: 20px auto;
    margin-bottom: 0px;
    padding-bottom: 20px;
}
#products>div:nth-of-type(2)>h1{
    font-size: 20px;
    margin-bottom: 1.5rem;
    color: rgb(43, 52, 69);
    font-weight: bold;
}
#products>div:nth-of-type(2)>div{
    display: flex;
}
#products>div:nth-of-type(2)>div>div{
    background-color: white;
    border-radius: 7px;
    padding:15px 0;
    margin-right: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;

}
#products>div:nth-of-type(2)>div>div>img{
    width: 48px;
    height: 48px;
}
#products>div:nth-of-type(2)>div>div>p{
    margin-top: 0.75rem;
    color: rgb(55, 63, 80);
    font-weight: 600;
    font-size: 17px;
}

#products{
    background-color: rgb(236,236,236);
   
    padding-top: 50px;
}

#products>div:nth-of-type(3){
    width: 80%;
    margin: 0px auto;
}
#products>div:nth-of-type(3)>div:first-child{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#products>div:nth-of-type(3)>div:first-child h1{
    font-size: 28px;
}
#products>div:nth-of-type(3)>div:last-child {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#products>div:nth-of-type(3)>div:last-child >div{
    background-color: white;
    border-radius: 8px;
    margin-right: 15px;
    position: relative;
    overflow: hidden;
    padding-left: 1%;
    margin-bottom: 30px;
    width: 23%;
}
#products>div:nth-of-type(3)>div:last-child >div:hover{
    -webkit-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 38px -1px rgba(0,0,0,0.75);
}
#products>div:nth-of-type(3)>div:last-child >div>div:first-child{
    position: absolute;
    width: 30px;
    right: 20px;
    top: 15px;
    display: none;
}
#products>div:nth-of-type(3)>div:last-child >div:hover >div:first-child{
    display: block;
}
#products>div:nth-of-type(3)>div:last-child >div>div:first-child i{
    cursor: pointer;
}
#products>div:nth-of-type(3)>div:last-child >div .percent{
    color: white;
    background-color: rgba(172, 15, 15, 0.769);
    padding: 5px 10px;
    border-radius: 25px;
    display: inline-block;
    font-size: 11px;
    margin-top: 10px;
}
#products>div:nth-of-type(3)>div:last-child >div >img{
    width: 80%;
    height: 180px;
    transform: scale(1.2);
    margin-left: 12%;
    cursor: pointer;
}
#products>div:nth-of-type(3)>div:last-child >div>h1{
    font-size: 14px;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}
#products>div:nth-of-type(3)>div:last-child >div>p{
    position: relative;
    margin-top: 5px;
}
#products>div:nth-of-type(3)>div:last-child >div>p>del{
    text-decoration: line-through;
    color: gray;
    margin-left: 5px;
}
#products>div:nth-of-type(3)>div:last-child >div>p>span:last-of-type{
    position: absolute;
    right: 5%;
    top: -48px;
    text-align: center;
}
#products>div:nth-of-type(3)>div:last-child >div>p>span:last-of-type >span{
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
}
#products>div:nth-of-type(3)>div:last-child >div>p>span:last-of-type >i{
    border: 0.5px solid rgba(255, 0, 0, 0.375);
    color: red;
    padding: 5px;
    display: block;
    cursor: pointer;
}
#products>div:nth-of-type(3)>div:last-child >div>p>span>i:hover{
    background-color: red;
    color: white;
}
#signIn{
    background-color:rgba(128, 128, 128, 0.869);
    position: fixed;
    top: 0;
    z-index: 99999;
    width: 100%;
    display: none;
}
#signIn>div{
    width: 550px;
    margin: 70px auto;
    background-color: white;
    border-radius: 10px;
    padding-top: 30px;
}
#signIn>div>h1{
    font-size: 20px;
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
}
#signIn>div>p{
    font-weight: 600;
    font-size: 12px;
    margin-bottom: 2.25rem;
    color: rgb(43, 52, 69);
    text-align: center;
}
#signIn>div>form{
    margin-top: 20px;
}
#signIn>div>form label{
    width: 80%;
    display: block;
    margin: 6px auto;
    font-size: 0.975rem;
    cursor: default;
    color: rgb(43, 52, 69);
}
#signIn>div>form input{
    width: 80%;
    padding: 8px 12px;
    height: 40px;
    color: rgb(43, 52, 69);
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
    outline: none;
    display: block;
    margin: 10px auto;
    margin-bottom: 5px;
}
#signIn>div>form input:focus{
    border-color: rgb(233, 69, 96);
}
#signIn>div>form>div{
    position: relative;
}
#signIn>div>form .wrong{
    width: 80%;
    margin: 0px auto;
    color: rgb(233, 69, 96);
    margin-top: 0.25rem;
    font-size: 14px;
    display: none;
}
#signIn>div>form>div>i{
    position: absolute;
    right: 12%;
    top: 44px;
    display: block;
}
#signIn>div>form>div>.unvisible{
    display: none;
}
#signIn>div>form>button{
    width: 80%;
    display: block;
    margin: 15px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}
#signIn>div>form>button>i{
    margin-right: 10px;
    background-color: white;
    color: rgb(59, 89, 152);
    padding: 3px 6px;
    border-radius: 50%;
}
#signIn>div>form>button:first-of-type{
    background-color: rgb(233, 69, 96);
}
#signIn>div>form>button:nth-of-type(2){
    background-color: rgb(59, 89, 152);
}
#signIn>div>form>button:nth-of-type(3){
    background-color: rgb(66, 133, 244);
}
#signIn>div>form>span:last-of-type{
    display: flex;
    width: 40%;
    margin: 15px auto;
    border: 0;
    color: rgba(43, 52, 69, 0.389);
}
#signIn>div>form>span>hr{
    width: 43%;
    height: 2px;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    margin-top:8px;
    border-color: rgba(43, 52, 69, 0.178);
}
#signIn>div>form>p{
    font-size: 17px;
    color: rgb(125, 135, 156);
    width: 80%;
    margin: 15px auto;
    text-align: center;
}
#signIn>div>form>p>a{
    color: rgb(43, 52, 69);
    margin-left: 5px;
}
#signIn>div>form>p:last-child{
    height: 60px;
    background-color:rgba(128, 128, 128, 0.037);
    width: 100%;
    padding-top: 20px;
}
#basket{
    width: 100%;
    height: 100vh;
    background-color:rgba(128, 128, 128, 0.742);
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    display: flex;
    justify-content: end;
    display: none;

}
#basket>div{
    width: 380px;
    background-color: white;
    position: relative;
}
#basket>div>h1{
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.182);
    font-size: 25px;
    font-weight: 400;
    padding: 18px 20px;
}
#basket>div>h1>span{
    margin-left: 10px;
    color: gray;
    font-size: 17px;
}
#basket>div>.first{
    width: 100%;
    height: 25%;
    margin-top: 50%;
    text-align: center;
    display: none;

}
#basket>div>.first >p{
    width: 70%;
    margin: 15px auto;
    color: gray;
    font-size: 15px;
}
#basket>div>button:first-of-type{
    background-color: rgba(189, 4, 4, 0.8);
    color: white;
    width: 90%;
    border-radius: 5px;
    border: 0;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    bottom:110px;
    left: 5%;

}
#basket>div>button:nth-of-type(2){
    border: 1px solid rgba(189, 4, 4, 0.8);
    background-color: white;
    color: rgba(189, 4, 4, 0.8);
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90%;
    border-radius: 5px;
    position: absolute;
    bottom: 60px;
    left: 5%;
}
#basket>div>button:nth-of-type(3):hover{
    background-color: orange;
    color: white;
    border-color: orange;
}
#basket>div>button:nth-of-type(3){
    border: 1px solid rgba(189, 4, 4, 0.8);
    background-color: white;
    color: rgba(189, 4, 4, 0.8);
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 90%;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    left: 5%;
}
#basket>div>button:nth-of-type(2):hover{
    background-color: rgba(189, 4, 4, 0.8);
    color: white;
}
#basket>div>.content{
    height: 500px;
    overflow: scroll;
}
#basket>div>.content>div{
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
    position: relative;
}
#basket>div>.content>div>div>h1{
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    color: rgb(43, 52, 69);
    margin-bottom: 0;
}
#basket>div>.content>div>div>span{
    font-size: 10px;
    color: rgb(125, 135, 156);
    font-size: 12px;
}
#basket>div>.content>div>div>p{
    margin-top: 4px;
    color: red;
}
#basket>div>.content>div>span{
    width: 40px;
    display: block;
    text-align: center;
}
#basket>div>.content>div>span>i{
    text-align: center;
    padding-top: 9px;
    padding-bottom: 9px;
    border: 1px solid rgba(255, 0, 0, 0.428);
    border-radius: 50%;
    color: red;
    font-size: 12px;
    cursor: pointer;
}
#basket>div>.content>div>span>i:hover{
    background-color: red;
    color: white;
}
#basket>div>.content>div>span>span{
    margin-top: 5px;
    margin-bottom: 5px;
    display: block;
}
#basket>div>.content>div>span>i{
    display: block;
}
#basket>div>.content>div>img{
    cursor: pointer;
    width: 90px;
    height: 90px;
}
#basket>div>.content>div>i{
    color: gray;
    display: block;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 60px;
}
#smallBar{
    position: fixed;
    bottom: 0;
    display: none;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
    padding-bottom: 20px;
}
#smallBar>a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(43, 52, 69);
    display: block;
    text-align: center;
}
#smallBar>a>i{
    font-size: 25px;
    display: block;
    margin-bottom: 10px;
}
#smallBar>a>svg{
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
}
footer{
    background-color: rgba(15, 38, 77, 0.961);
    margin-bottom: 0px;
}
footer>div{
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;

}
footer>div>div{
    width: 18%;

}
footer>div>div:first-child{
    width: 35%;
}

footer>div>div:first-child h3{
    cursor: pointer;
}
footer>div>div span{
    text-decoration: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.542);
    margin-top: 10px;
    display: block;
}
footer>div>div span:hover{
    color: white;
}
footer>div>div img{
    cursor: pointer;
    margin-right: 20px;
}
footer>div>div a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.542);
    display: inline-block;
    
}
footer>div>div a>i{
    padding: 10px;
    background-color:  rgb(15, 38, 77);
    border-radius: 50%;
    color: white;
}
footer>div>div p{
    color: rgba(255, 255, 255, 0.542);
    width: 100%;
}
footer>div>div h3{
    color: white;
    margin-bottom: 20px;
}
@media screen and (min-width:850px) and (max-width:1150px) {
    #headling{
        width: 95%;
    }
    #headling>div:last-child ul li,span{
        font-size: 14px;
    }
    nav>div{
        width: 100% !important;
    }
    #Info>div{
        width: 92%;
    }
    #Info>div>div{
        width: 31%;
    }
    #main>div:first-of-type{
        width: 90%;
    }
    #products>div:first-of-type{
        width: 90%;
    }
    #products>div:first-of-type>div{
        flex-wrap: wrap;
        justify-content: start;
    }
    #products>div:first-of-type>div>div{
        width: 22%;
        margin-bottom: 20px;
        
    }
    #products>div:first-of-type>div>div:last-of-type{
        width: 35%;
    }
    #products>div:first-of-type>div>div:last-of-type>button:last-of-type{
        margin-top: 10px;
    }
    #products>div:nth-of-type(2){
        width: 90%;
    }
    #products>div:nth-of-type(3){
        width: 92%;
    }
    #products>div:nth-of-type(3)>div:last-child >div{
        width: 31%;
    }
}
@media screen and (min-width:560px) and (max-width:850px) {
    footer>div>div{
        width: 40%;
        margin-bottom: 40px;
    
    }
    footer>div>div:first-child{
        width: 50%;
    }
    #headling{
        display: none;
    }
    nav>div{
        width: 100% !important;
    }
    nav>div>div:first-child{
        display: none;
    }
    nav>div>div:last-child{
        display: none;
    }
    nav>div>.searchContent{
        width: 85%;
        margin: 0px auto;
        
    }
    nav>div>.searchContent input{
        margin: 0px auto;
        width: 100% !important;
    }
    
    nav>div>.searchContent .Selection{
        display: none;
    }
    #signIn>div{
        width: 80%;
    }
    #smallBar{
        display: flex;
    }
    #main>div:first-of-type{
        width: 100%;
        display: block;
    }
    #main>div:first-of-type>div:first-of-type{
        width: 80%;
        margin: 20px auto;
    }
    #main>div:first-of-type>div:last-of-type{
        width: 80%;
        margin: 20px auto;
        text-align: center;
    }
    #main>div:first-of-type>div:last-of-type>button{
        margin: 30px auto;
    }
    #main>div:nth-of-type(2)>div:nth-of-type(3)>div>p{
        width: 75%;
    }
    #products>div:first-of-type{
        width: 90%;
    }
    #products>div:first-of-type>div{
        flex-wrap: wrap;
        justify-content: start;
    }
    #products>div:first-of-type>div>div{
        width: 28%;
        margin-bottom: 20px;
        
    }
    #products>div:first-of-type>div>div:last-of-type{
        width: 50%;
    }
    #products>div:nth-of-type(2){
        width: 100%;
        padding-left: 15px;
    }
    #products>div:nth-of-type(2)>div{
        flex-wrap: wrap;
    }
    #products>div:nth-of-type(2)>div>div{
        width: 45%;
        margin-bottom: 20px;
    }
    #products>div:nth-of-type(3){
        width: 95%;
    }
    #products>div:nth-of-type(3)>div:last-child >div{
        width: 45%;
    }
}
@media screen and (max-width:560px)  {
    footer>div>div{
        width: 80%;
        margin-bottom: 40px;
    
    }
    footer>div>div:first-child{
        width: 90%;
    }
     #headling{
        display: none;
    }
    nav>div{
        width: 100% !important;
    }
    nav>div>div:first-child{
        display: none;
    }
    nav>div>div:last-child{
        display: none;
    }
    nav>div>.searchContent .Selection{
        display: none;
    }
    nav>div>.searchContent input{
        margin: 0px auto;
        width: 100% !important;
    }
    #Info>div{
        width: 98%;
    }
    #Info>div>div{
        width: 90%;
        margin: 20px auto;
    }
    #signIn>div{
        width: 95%;
    }
   
    #smallBar{
        display: flex;
        padding-left: 2%;
        padding-right: 2%;
    }
    #smallBar>a{
        font-size: 14px;
    }
    #smallBar>a>i{
        font-size: 18px;
    }
    #smallBar>a>svg{
        width: 21px;
        height: 21px;
    }
    #main>div:first-of-type{
        width: 100%;
        display: block;
    }
    #main>div:first-of-type>div:first-of-type{
        width: 100%;
        margin: 20px auto;
    }
    #main>div:first-of-type>div:last-of-type{
        width: 100%;
        margin: 20px auto;
        text-align: center;
    }
    #main>div:first-of-type>div:first-of-type>.changeImg{
        width: 70%;
        justify-content: space-between;
    }
    #main>div:first-of-type>div:last-of-type>button{
        margin: 30px auto;
    }
    #main>div:nth-of-type(2){
        width: 90%;

    }
    #main>div:nth-of-type(2)>div:nth-of-type(3)>div>p{
        width: 100%;
    }
    #products>div:first-of-type{
        width: 100%;
    }
    #products>div:first-of-type>h1{
        margin-left: 20px;
    }
    #products>div:first-of-type>div{
        flex-wrap: wrap;
        justify-content: center;
    }
    #products>div:first-of-type>div>div{
        width: 60%;
        margin-bottom: 20px;
        
    }
    #products>div:first-of-type>div>div:last-of-type{
        width: 90%;
    }
    #products>div:nth-of-type(2){
        width: 100%;
        padding-left: 10px;
    }
    #products>div:nth-of-type(2)>div{
        flex-wrap: wrap;
        justify-content: center;
    }
    #products>div:nth-of-type(2)>div>div{
        width: 90%;
        margin-bottom: 15px;
    }
    #products>div:nth-of-type(3){
        width: 98%;
    }
    #products>div:nth-of-type(3)>div:last-child >div{
        width: 95%;
        margin: 20px auto;
    }
}